
.projects-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    padding-top: 100px; 
  padding-bottom: 50px;
}
.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-container img {
 width: 100px;
}
.header-container h1{
 
}

.head-container h1 {
  font-weight: bold;
}

.text1-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.text1-container p:first-of-type{
  color:white;
}
.text1-container p:nth-of-type(2) {
  color:white;
  font-style: italic;
}


.project-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.Pic-Container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  justify-items: center;
  position: relative;
  padding-top:40px;
   
}
.Pic-Text-Container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.Description{
  position: relative;
  display: none;
}
.Pic-Container .pic1,
.Pic-Container .pic2,
.Pic-Container .pic3 {
animation: pulse;
animation-iteration-count: infinite;
animation-duration: 2s;
}



.Pic-Container .pic1 img,
.Pic-Container .pic2 img,
.Pic-Container .pic3 img{
  max-width: 300px;
  width:100%;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


.Pic-Container .pic1 img:hover,
.Pic-Container .pic2 img:hover,
.Pic-Container .pic3 img:hover {
  transform: scale(1.3);
  animation: none;
}

.Pic-Container:hover .pic1 img:not(:hover),
.Pic-Container:hover .pic2 img:not(:hover),
.Pic-Container:hover .pic3 img:not(:hover) {
 opacity: 0.6;
 animation: none;
}

.text2-container {

  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
 height: auto;
 position: relative;


 
}

.text2-container p:first-child{
color:white;
font-size: 1.4rem;
}
.text2-container span {
  color: red
}

.text2-container p:nth-of-type(2) {
color:white;
font-size: 1.1rem;
}

.text2-container p:nth-of-type(3){
color:white;
font-size: 1.1rem;
font-style: italic;
}
.text2-container p:nth-of-type(4){
color:white;
margin-right: 7rem;
margin-left: 7rem;
text-align: justify;

}

.btn1{
text-decoration: none;
  color: #00eaff;
  border: 2px solid #00eaff;
  background: transparent;
padding:15px;
border-radius: 50px;
position: relative;
  transition: 0.5s ease;
  height:50px;
  text-align: center;
  font-weight: 600;
  transform: translateY(-20px);
}
.btn2{
text-decoration: none;
color: #00eaff;
border: 2px solid #00eaff;
background: transparent;
padding:15px;
border-radius: 50px;
position: relative;
transition: 0.5s ease;
  height:50px;
  text-align: center;
    font-weight: 600;
    transform: translateY(-20px);

}

.btn1:hover, .btn2:hover {
  background-color: #00eaff;
  color: #050C16;
  box-shadow: 0 0 12px #00eaff;

}

.Buttons {
  width:50vw;
  height:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:50px;


}

/*Video-Projects Section */

.vproj-section{
  width: 100%;
   background-color: #050C16;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap:40px;
  padding-top: 50px;
   padding-bottom: 50px;
}
.head-flex-container{

}
.head-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.head-container img {
  max-width:130px;
}
.body-container{
  display: flex;
  flex-direction: column;
  margin-left: 7rem;
  margin-right: 7rem;
}
.video-flex-container{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: space-evenly;
width:700px;
gap: 5px;
margin: auto;


}
.video-container1, .video-container2{
  display: flex;
  flex-direction: column;
  border-radius: 20px ;
  height:500px;
  width:300px;
  padding: 30px;
  gap:30px;
  border: 2px solid rgba(255, 255, 255, 0.3);
 background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10px);
  
}
.video-container1{

}
.d1, .d2 {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap:30px;
  color:white;

}
.d1{
  padding-top:20px
}

.d1 a, .d2 a{
  text-decoration: none;
   color: #00eaff;
  border: 2px solid #00eaff;
  background: transparent;
padding:15px;
border-radius: 50px;
position: relative;
  transition: 0.5s ease;
  height:50px;
  text-align: center;
  font-weight: 600;

}
.d1 a:hover, .d2 a:hover {
  background-color: #00eaff;
  color: #050C16;
  box-shadow: 0 0 12px #00eaff;
  transform: scale(1.05);



}
.gold{
  color:#FFD700;
}
.project-info{
font-weight: normal;
}
.video1,.video2 {
  max-width: 300px;
  border:1px solid rgba(255, 255, 255, 0.3);
}

.video1{
      
    
}




@media (max-width:480px){
.projects-section{


}
.header-container{
  max-width: 380px;
}
.header-container img {
 width: 80px;
}
.header-container h1{
 font-size:30px;
}

.text1-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.project-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.Pic-Container{
   display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 20px;
  padding: 50px 50px 0 50px;
  scrollbar-width: none;
}
.Pic-Container::-webkit-scrollbar {
  display: none
}
.Pic-Container .pic1,
.Pic-Container .pic2,
.Pic-Container .pic3 {
flex: 0 0 auto;
scroll-snap-align: center;
height: 250px;
}

.Description{
  display: block;

}
.text2-container {
 display: flex;
 flex-direction: column;
 text-align: justify;
 align-items: center;
 justify-content: center;
 height: auto;
 position: relative;
 padding-top: 30px;
}

.text2-container p:first-child{
color:white;
font-size: 15px;
}
.text2-container span {
  color: red
}

.text2-container p:nth-of-type(2) {
color:white;
font-size: 15px;
}

.text2-container p:nth-of-type(3){
color:white;
font-size: 15px;
font-style: italic;
}
.text2-container p:nth-of-type(4){
color:white;
font-size: 15px;
margin-right: 1rem;
margin-left: 1rem;
}

.Buttons {
  width:100%;
  height:auto;
  flex-direction: column;
  gap:30px;
  padding-top: 35px;
}

/*Video-Projects Section */
.vproj-section{
  gap:40px;
  justify-content: center;

}
.head-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
justify-content: center;
max-width: 380px;
margin: auto;
}
.head-container img {
  max-width:110px;
  padding-top: 20px;
}
.head-container h1{
  font-size: 28px;
}
.body-container{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;

}
.body-container p:nth-of-type(3){
   text-align: justify;
}
.video-flex-container{
display: flex;
flex-direction: column;
gap: 50px;
width:auto;

}

}

@media (min-width:481px) and (max-width:600px){
.projects-section{


}
.header-container{

  max-width: 380px;
}
.header-container img {
 width: 80px;
}
.header-container h1{
 font-size:30px;
}

.text1-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.project-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.Pic-Container{
   display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 20px;
  padding: 50px 50px 0 50px;
  scrollbar-width: none;
}
.Pic-Container::-webkit-scrollbar {
  display: none
}
.Pic-Container .pic1,
.Pic-Container .pic2,
.Pic-Container .pic3 {
flex: 0 0 auto;
scroll-snap-align: center;
height: 250px;
}

.Description{
  display: block;
}
.text2-container {
 display: flex;
 flex-direction: column;
 text-align: justify;
 align-items: center;
 justify-content: center;
 height: auto;
 position: relative;
 padding-top: 30px;
}

.text2-container p:first-child{
color:white;
font-size: 15px;
}
.text2-container span {
  color: red
}

.text2-container p:nth-of-type(2) {
color:white;
font-size: 15px;
}

.text2-container p:nth-of-type(3){
color:white;
font-size: 15px;
font-style: italic;
}
.text2-container p:nth-of-type(4){
color:white;
font-size: 15px;
margin-right: 1rem;
margin-left: 1rem;
}

.Buttons {
  width:100%;
  height:auto;
  flex-direction: column;
  gap:30px;
  padding-top: 35px;
}

/*Video-Projects Section */
.vproj-section{
  gap:40px;
  justify-content: center;

}
.head-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
justify-content: center;
max-width: 380px;
margin: auto;
}
.head-container img {
  max-width:110px;
  padding-top: 20px;
}
.head-container h1{
  font-size: 28px;
}
.body-container{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;

}
.body-container p:nth-of-type(3){
   text-align: justify;
}
.video-flex-container{
display: flex;
flex-direction: column;
gap: 50px;
width:auto;

}
}


@media (min-width:601px) and (max-width:720px){
.projects-section{


}
.header-container{
  max-width: 380px;
}
.header-container img {
 width: 80px;
}
.header-container h1{
 font-size:30px;
}

.text1-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.project-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.Pic-Container{
   display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 20px;
  padding: 50px 50px 0 50px;
  scrollbar-width: none;
}
.Pic-Container::-webkit-scrollbar {
  display: none
}
.Pic-Container .pic1,
.Pic-Container .pic2,
.Pic-Container .pic3 {
flex: 0 0 auto;
scroll-snap-align: center;
height: 250px;
}

.Description{
  display: block;
}
.text2-container {
 display: flex;
 flex-direction: column;
 text-align: justify;
 align-items: center;
 justify-content: center;
 height: auto;
 position: relative;
 padding-top: 30px;
}

.text2-container p:first-child{
color:white;
font-size: 15px;
}
.text2-container span {
  color: red
}

.text2-container p:nth-of-type(2) {
color:white;
font-size: 15px;
}

.text2-container p:nth-of-type(3){
color:white;
font-size: 15px;
font-style: italic;
}
.text2-container p:nth-of-type(4){
color:white;
font-size: 15px;
margin-right: 1rem;
margin-left: 1rem;
}

.Buttons {
  width:100%;
  height:auto;
  flex-direction: column;
  gap:30px;
  padding-top: 50px;

}

/*Video-Projects Section */
.vproj-section{
  gap:40px;
  justify-content: center;

}
.head-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
justify-content: center;
max-width: 500px;
margin: auto;
}
.head-container img {
  max-width:110px;
  padding-top: 20px;
}
.head-container h1{
  font-size: 40px;
}
.body-container{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;

}
.body-container p:nth-of-type(3){
   text-align: justify;
}
.video-flex-container{
display: flex;
flex-direction: column;
gap: 50px;
width:auto;

}
}

@media (min-width:721px) and (max-width:1199px){
.header-container{
}
.header-container h1{
 font-size:2rem;

}
.Pic-Container{
  padding-left: 50px;
}
.Pic-Container .pic1 img,
.Pic-Container .pic2 img,
.Pic-Container .pic3 img{
  width:80%;
}


.Pic-Container .pic1 img:hover,
.Pic-Container .pic2 img:hover,
.Pic-Container .pic3 img:hover {
  transform: scale(1.4);
  animation: none;
}

.Buttons {
width:400px;
 gap:20px;
  padding-top: 50px;

}

/*Projects-Section*/
.vproj-section{

}

.head-flex-container{

}
.head-container{
max-width: 600px;
margin: auto;
}
.head-container img {
  max-width:150px;
  padding-top: 20px;
}
.head-container h1{
  font-size: 45px;
}
.body-container{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
 

}
.body-container p:nth-of-type(3){
  text-align: justify;
  margin-right: 6rem;
  margin-left: 6rem;
}

}
@media (min-width:1200px) {
.Buttons{
   padding-top: 40px;
}
}
@media (min-width:1500px){
.header-container{

}
  
.projects-section{
  width: 100%;
  background-color: #050C16;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container img {
 width: 150px;
}
.header-container h1{
 font-size:60px;

}

.text1-container p:first-of-type{
  color:white;
  font-size:20px;
}
.text1-container p:nth-of-type(2) {
  color:white;
  font-style: italic;
  font-size:20px;
}



.text2-container p:first-child{
color:white;
font-size: 1.4rem;
}
.text2-container span {
  color: red
}

.text2-container p:nth-of-type(2) {
color:white;
  font-size:20px;
}

.text2-container p:nth-of-type(3){
color:white;
  font-size:20px;
font-style: italic;

}
.text2-container p:nth-of-type(4){
font-size:21px;
max-width:1200px;
}

.btn1{
color:white;
text-decoration: none;
border:1px solid #39D5FF;
padding:15px;
border-radius: 50px;
position: relative;
animation: pulseGlow 2s infinite ease-in-out;
  transition: 0.5s ease;
  height:50px;
  text-align: center;

}
.btn2{
color:white;
text-decoration: none;
border:1px solid #39D5FF;
padding:15px;
border-radius: 50px;
position: relative;
animation: pulseGlow 2s infinite ease-in-out;
transition: 0.5s ease;
  height:50px;
  text-align: center;

}

.btn1:hover, .btn2:hover {
  background-color: #00eaff;
  transition: 0.5s ease;
  color:black;
  font-weight: bold;

}
.Buttons{
   padding-top: 55px;
}

/*Projects-Section*/
.vproj-section{

}
.head-container img {
  max-width:160px;
  padding-top: 5px;
}
.head-container h1{
   font-size:70px;
}

.body-container p:nth-of-type(1){
 font-size:21px;
}
.body-container p:nth-of-type(2){
 font-size:20px;
  }
.body-container p:nth-of-type(3){
  text-align: justify;
  margin-right: 8rem;
  margin-left: 8rem;
  font-size:21px;
  max-width: 1100px;
  margin: auto;
}
.video-flex-container{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: space-evenly;
width:800px;
gap: 5px;
}

}